<!DOCTYPE html>
<html>
    <head>
        <title>Date!!</title>
    </head>
    <body>
        <%= todays_date = Date.today.strftime("%A, %B %d, %Y") %>
        <h1>The date is <%= todays_date %></h1>
    </body>
</html>
